
.T{


background-color: #f8f9fa;


}
.bg-mode{
    font-size: 10px;
}



.my-bi {
    border-radius: 5px ;
    fill: #f8f9fa;
    background-color: #0d6efd;;
    padding: 5px;
    margin-left: -5px;
    margin-top: 5px;

    width: 30px;
    height: inherit;

}
