.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 0px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

