 body {
    background-color: #757c83;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .DIV1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    margin: 0 auto;
  }
  
  td {
    padding: 10px;
  }
  
  input, select {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  

  button:hover{
    background-color: blue;
  }
   
    